[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-security-too = "*"
flask-restful = "*"
flask-jwt-extended = "==4.3.1"
marshmallow = "*"
python-dotenv = "==0.19.1"
flask-bcrypt = "*"
sqlalchemy = "*"
validate-docbr = "==1.9.0"
gunicorn = "*"
psycopg2 = "*"
flasgger = "*"
apispec = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.9"
