[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-security-too = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
python-dotenv = "*"
flask-bcrypt = "*"
sqlalchemy = "*"
black = "*"
validate-docbr = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
